

services:

  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_DATABASE: urlshortener
      MYSQL_ROOT_PASSWORD: rootpassword
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 512M

  redis:
    image: redis:latest
    deploy:
      resources:
        limits:
          memory: 256M

  app:
    build: .
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/urlshortener
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: rootpassword
      SPRING_DATA_REDIS_HOST: redis
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          memory: 512M